 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@500;600&display=swap'); 
 :root{
    --color-first: #5AC69F;
    --color-white: #e9e9e9;
    
    
    
}
 .homeBody{
    background-color: #212121;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Verdana;
    
}
.nav{
    background-color: #212121;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15%;
    
    
}
.logo1{
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    
}
.logo1 span{
    color: var(--color-first);
}
.nav ul{
    list-style: none;
    display: flex;
}
.nav ul li{
    padding: 22px 30px;
    position: relative;
}
.nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.3s;
}
.nav ul li a:hover{
    color: var(--color-first);
}

.homei{
    width: 100%;
    height: 100vh;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftii{
    height: auto;
    width: 600px;
    max-width: 100%;
}
.txtii{
    width: 694px;
    max-width: 100%;
    padding: 0 10px;
    text-align: left;
    margin-right: 385px;
}
.contenti{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.txtii h1{
    color: #fff;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Poppins', Arial, Verdana;
    margin-bottom: 20px;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 50px;
}
.txtii p{
    color: grey;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: justify;
    text-justify: auto;
}
/*.bigger{
    padding-top: 25vh;
    padding-bottom: 4vh;
}
.big{
    padding: 30px 15%;
    display: grid;
}
.big h1{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 50px;
}
.cntnt{
    
    padding: 0 15%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.lft{
    height: auto;
    width: 600px;
    max-width: 100%;
}
.small{
    width: 550px;
    max-width: 100%;
    position: relative;
    right: 255px;
    
    
}

.small p{
    
        
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 171px;
    color: grey;
    font-weight: 500;
    text-align: justify;
    text-justify: auto;
}*/
